<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phrenology Questions</title>
    <link rel="stylesheet" href="phrenologytest.css">
</head>
<body>
    <div class="image">
        <div class="frame">
            <img src="./static/phrenologytest1.jpg" alt="" srcset="">
        </div>
    </div>
    <div class="options">
        <div class="question">
            <p1>Match the Description to the Correct Picture</p1>
        </div>
        <div class="buttons">
            <div class="button1">
                <button>DANGER!</button>
            </div>
            <div class="button2">
                <button>Moral and Religious Sentiments</button>
            </div>
        </div>
    </div>
    
</body>
</html>